todo/xmltv-0.6.dtd

<!-- XMLTV DTD version 0.6

This is a DTD to represent TV listings.  First it lists the details of
some channels, and then the programmes on those channels.  However
programmes for the same channel need not be grouped together, so you
can for example sort the listing into time order.

Programmes are contained in 'timeslot' elements, which specify the
start time, channel and optionally stop time.  Typically there will be
one programme in each timeslot but sometimes it's necessary to have
several programmes sharing a timeslot, or for a timeslot to contain
'unknown' elements.

Some attributes in this DTD take a value which is date-and-time.  This
must be in bigendian form, YYYYMMDDHHMMSS, and in the timezone UTC
(GMT).  It is up to applications to convert to and from the local
timezone if wanted.  (However, 'years' for programmes are just the
year, not a full date.)

(FIXME could have 'timezone hints' at the top of the file?)

This DTD tries to follow the general rule that metadata is stored as
attributes while content is stored as elements.  The time and channel
a programme happens to be shown are attributes of 'timeslot', other
scheduling information like whether it is a repeat are attributes of
'programme'.  But the content of the programme, which is the same
whenever it is shown, is stored in subelements of 'programme'.

Within programme data, textual element content is normally free text
and has an optional 'xml:lang' attribute associated with it (as is
customary, the language should be in RFC 1766 style, eg 'en' or
'en-US').  If xml:lang is not specified then the language of the text
is unknown.  However where an element has xml:lang and contains other
elements, the child elements which may have xml:lang inherit the value
from their parent, unless they override it themselves.  Semantically
there is no difference between specifying xml:lang="en" separately for
every bit of free text in the document and putting it once in the
top-level 'tv' element.

Things stored as attributes, rather than as textual content, are
typically machine-readable and must come from some limited range of
values (for example a year must be four digits).

Many elements inside 'programme' or 'channel' are repeatable, allowing
the same thing to be stated many times.  For example, a programme may
have more than one title or more than one category.  The convention is
that elements appearing earlier are somehow more important or more
canonical.  So you might put a programme's original title first and
its translated title second; in a cast list, the more important roles
are given first; and so on.

I have tried to use the DTD grammar to rule out meaningless
constructs.  But in some cases the grammar does allow things which
don't make any sense, for example an 'episode' element which states
neither an episode number nor an episode title.  Such syntactically
sound but semantically silly things should be skipped over with a
warning by applications.

Here is a contrived example document conforming to this DTD:

<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE tv SYSTEM "xmltv-0.6.dtd">
<tv>
  <about>
    <copying>
      <p>
	Copyright 2004, some TV network
      </p>
    </copying>
    <generator-info href="http://membled.com/work/apps/xmltv/" />
  </about>
  <channel id="C3sat.de">
    <display-name xml:lang="de">3SAT</display-name>
  </channel>
  <channel id="das-erste.de">
    <old-id id="C405.tv-listings.com" />
    <display-name xml:lang="de">ARD</display-name>
    <display-name xml:lang="de">Das Erste</display-name>
    <number num="1" />
  </channel>
  <timeslot start="200006031633" channel="C3sat.de">
    <programme xml:lang="en">
      <title>blah</title>
      <title>blah</title>
      <desc>
	<p>
          Blah Blah Blah.
        </p>
      </desc>
      <credits>
	<director>blah</director>
	<role>
	  <character>Mr Smith</character>
	  <actor>Simon Callow</actor>
        </role>
	<role>
	  <actor>Colin Baker</actor>
        </role>
      </credits>
      <year production="1995" release="1996" />
      <episode-details>
	<season nth="2" />
	<episode nth="9" of="12">
	  <title>The case of the bombastic blackcurrent</title>
	</episode>
      </episode-details>
      <video>
	<aspect x="16" y="9" />
      </video>
      <classification system="MPAA">
	<text>PG</text>
	<icon src="http://www.mpaa.org/images/movieratings/PG(small)-01.gif" />
      </classification>
      <star-rating stars="3" out-of="3" />
    </programme>
  </timeslot>
</tv>

-->

<!-- The root element, tv.  This contains an optional 'about' element
giving details of where the listings came from and their copyright
status; then it has channel definitions followed by timeslots.

The 'from' and 'until' elements state what time period is covered by
this file.  Times outside this period are implicitly 'not known'.  See
the later section on 'Unknown versus nothing'.

The 'xml:lang' attribute is a convenient place to set a default
language for textual content, which will apply to the whole of the
document except where overridden in individual elements.
-->
<!ELEMENT tv (about?, (channel+, timeslot*)?)>
<!ATTLIST tv from     CDATA #IMPLIED
             until    CDATA #IMPLIED
             xml:lang CDATA #IMPLIED>

<!-- Where these listings came from.

'date' should be when the listings were originally produced in whatever
format; if you're converting data from another source, then use the
date given by that source.  The date when the conversion itself was
done is not important.
-->
<!ELEMENT about (copying*, source-info*, source-data*, generator-info*)>
<!ATTLIST about date CDATA #IMPLIED>

<!-- Human-readable text describing the copying conditions for these
listings.  This is a list of paragraphs, see below. -->
<!ELEMENT copying (p+)>
<!ATTLIST copying xml:lang CDATA #IMPLIED>

<!-- The 'p' element, as in XHTML, indicates a paragraph.  It is used
for long textual content.  Inside this element, newlines are allowed
to make the XML appear pretty, but the meaning of any sequence of
whitespace is the same as a single space character (as with XHTML).

There are many cases where free text is required but not inside a 'p'
element.  Those are intended to be short, one-line writings, and may
not contain newlines.
-->
<!ELEMENT p (#PCDATA)>

<!-- A URL giving information about the source of the listings.  This
need not be the web page containing the data itself.  -->
<!ELEMENT source-info EMPTY>
<!ATTLIST source-info href CDATA #REQUIRED>

<!-- A URL describing the program which generated the listings,
reading them from the source and outputting them as XML.  -->
<!ELEMENT generator-info EMPTY>
<!ATTLIST generator-info href CDATA #REQUIRED>

<!-- A URL for the upstream source data.  This should be a page
containing the listings data used, or at least one with links to the
data.  -->
<!ELEMENT source-data EMPTY>
<!ATTLIST source-data href CDATA #REQUIRED>

<!-- channel - details of a channel

Each 'timeslot' element (see below) should have an attribute
'channel' giving the channel on which it is broadcast.  That attribute
gives the id of some channel element earlier in the file.  Thus the
information for a channel is given only once and then referred to
later.

Each channel has one id attribute, which must be unique.  RFC2838
suggests a scheme for uniquely naming TV channels by using DNS-like
names.  We try to follow that, for example CNN World gets the id
'world.cnn.com' based on the domain name 'cnn.com' of the broadcaster.
However, while DNS names may begin with a digit, ids in XML files may
not, so we prepend the letter 'C' where necessary.  For example
'C2.cinema.sky.com' rather than '2.cinema.sky.com'.

These ids are meant to stay the same, but sometimes they will change,
so the 'old-id' element can be used to list secondary ids for a
channel.  Then the old identifiers will continue to be usable.

The display name is a human-readable name of the channel.  To give a
channel number use the 'number' element, and similarly you can specify
the channel's call sign.

Sometimes TV listings give a little icon for each channel, these can
be stored with the 'icon' element which is like 'img' in HTML.

There may be hyperlinks to pages giving more information about the
channel - the 'link' element is described below.

Finally, 'affiliation' gives some information about whether this is an
affiliate station, for example it could give the name of the national
network affiliated to.  The content is human-readable text and the
exact meaning depends on the listings source.

The ordering of channel elements makes no difference to the meaning of
the file, since they are looked up by id and not by their position.
However it makes things like diffing easier if you write the channel
elements sorted by ASCII order of their ids.
-->
<!ELEMENT channel (old-id*, display-name+, number*, call-sign?,
                   icon*, link*, affiliation*)>
<!ATTLIST channel id ID #REQUIRED>
<!ELEMENT old-id EMPTY>
<!ATTLIST old-id id ID #REQUIRED>
<!ELEMENT display-name (#PCDATA)>
<!ATTLIST display-name xml:lang CDATA #IMPLIED>
<!ELEMENT number EMPTY>
<!ATTLIST number system CDATA #IMPLIED
                 num    CDATA #REQUIRED>
<!ELEMENT call-sign EMPTY>
<!ATTLIST call-sign cs CDATA #REQUIRED>
<!ELEMENT icon EMPTY>
<!ATTLIST icon src    CDATA #REQUIRED
               width  CDATA #IMPLIED
               height CDATA #IMPLIED>
<!ELEMENT affiliation (#PCDATA)>
<!ATTLIST affiliation xml:lang CDATA #IMPLIED>

<!-- description of a programme

This corresponds to whatever free text a listings source has, arranged
as one or more paragraphs.  Following the convention of other repeated
elements, the more detailed or 'ordinary' description comes first if
there are several.

The optional 'type' attribute distinguishes between descriptions of
the show (that is to say, series) as a whole, descriptions of this
particular episode, and reviews or commentary (which normally refer to
both the show and this episode).
-->
<!ELEMENT desc (p+)>
<!ATTLIST desc xml:lang CDATA                     #IMPLIED
               type     (show | episode | review) #IMPLIED>

<!-- link - a hyperlink

In HTML links have a URL ('href') and associated link text.  Our links
are a bit more general because listings sources don't always have link
text, or they may have both some short link text and some extra
description.  So the 'text' element gives short link text to be
underlined in a browser, and 'desc' gives a longer description of what
you might find on the visited page.
-->
<!ELEMENT link (text?, desc?)>
<!ATTLIST link href CDATA #REQUIRED>
<!ELEMENT text (#PCDATA)>
<!ATTLIST text xml:lang CDATA #IMPLIED>

<!-- timeslot

This element deals with 'technical' details of broadcasting.  When,
what channel, is it live, and so on.  It doesn't cover the content of
what is broadcast.  If the same programme were repeated later then the
timeslot would be different, but the content would be the same.

The required attributes are 'channel', which is a reference to the
'id' of a channel element defined earlier, and 'start' which is a time
(actually date-and-time).  Start time and (if present) stop time must
be in bigendian form and in timezone UTC, as mentioned earlier.  It is
considered that a timezone runs from its start time, up to but not
including any stop time.

The 'conditional' attribute is to handle uncertainty in what might be
broadcast.  If its value is 'blackout' then the transmission might not
be available in certain areas.  If the value is 'if-necessary' then
the transmission will happen... well, if necessary.  There isn't any
rigorously defined meaning but this can be used to give alternative
possible schedules for the same channel.  Timeslots for the same
channel must not overlap, unless they both have some 'conditional'
attribute set.

'liveness' can be live, joined in progress (meaning partly live and
partly prerecorded), or prerecorded.

'encryption' is an application-defined value, but intended to be used
for particular timeslots which are encrypted individually, rather than
routine encryption of a whole channel.  If the attribute is not
present, that means the timeslot is not encrypted or at least not
encrypted any 'worse' than the rest of the channel.

FIXME some way to indicate 'less encryption' than usual?  In general
be clearer about these things which indicate differences from what is
'normally' on the channel.

The 'code-time' element is to support systems like PDC or VPS where a
timeslot is identified by a 'PDC time' which may not be the same as
the time when transmission begins.  This is so that programmes can be
recorded correctly even if their transmission time changes.  So
code-time has a start time and and optional stop time.  Depending on
the particular system, these times may not be in UTC, they may be in a
local timezone.  (Certainly this is the case for PDC times in many
countries.)  So it's possible for the code-time to be routinely
different from the physical start time.

The 'code-num' element is for systems like VCRPlus/VideoPlus/Showview
which identify a timeslot by a mysterious string or number.

The values of 'system' for the 'code-time' and 'code-num' elements is
application-defined but the convention is to normalize the name to
lower case, for example 'vps', 'vcrplus', 'showview'.

The 'grabber-more' element is for implementation-specific use.  The
intention is that a grabber can quickly fetch less detailed listings,
putting a URL or other string into the grabber-more element of some
timeslots.  Then when the user has selected certain timeslots as
interesting, the grabber can do a second pass filling in extra
information.

Then comes the real content of a timeslot - one or more programmes.
Typically there will be exactly one, but some listings sources tend to
run together programmes not specifying when one ends and the next
begins, for example 'News followed by Weather'.  That would become a
single timeslot containing two programmes.  The programmes within a
timeslot are in time order.

It's also possible for a timeslot to contain 'unknown' elements as
well as or instead of programmes.  See 'Unknown versus nothing' below.
-->
<!ELEMENT timeslot (code-time*, code-num*, grabber-more*, (programme | unknown)+)>
<!ATTLIST timeslot channel     IDREF                         #REQUIRED
                   start       CDATA                         #REQUIRED
                   stop        CDATA                         #IMPLIED
                   conditional (blackout | if-necessary)     #IMPLIED
                   liveness    (live | joined | prerecorded) #IMPLIED
                   encryption  CDATA                         #IMPLIED>
<!ELEMENT code-time EMPTY>
<!ATTLIST code-time system CDATA #REQUIRED
                    start  CDATA #REQUIRED
                    stop   CDATA #IMPLIED>
<!ELEMENT code-num EMPTY>
<!ATTLIST code-num system CDATA #REQUIRED
                   num    CDATA #REQUIRED>
<!ELEMENT grabber-more EMPTY>
<!ATTLIST grabber-more grabber CDATA #REQUIRED
                       data    CDATA #REQUIRED>

<!-- programme: the content of a programme

As mentioned above, this element doesn't describe transmission details
like channel or time, but the content of what is broadcast.  The only
required element is 'title'.

The 'newness' attribute gives information on whether the programme has
been shown before and whether it will be shown again.

'repeat' is obvious, although the exact meaning is hard to pin down.
Typically it means the programme has been shown before on the same
channel or some other channel that is likely to be available to the
viewer (however some broadcasters don't consider a programme
'repeated' unless it has been shown on the exact same channel).

'premiere' is also a bit fuzzy, but normally means the first showing
on television in this country, but some channels use it to mean 'the
first showing of this film on our channel in the current run'.  It
might have been shown before, but now they have paid for another set
of showings, which makes the first in that set count as a premiere!
Related to this practice is 'last-chance' which means 'the last
screening of this programme we have paid for', so it probably won't be
shown again on that same channel for a while.

'new-show' is for the first screened programme from a new show that
has never been shown on television before - if not worldwide then at
least never before in this country.  Subsequent episodes or new seasons
of an existing show do not count.

These four values are mutually exclusive; it is understood that
'new-show' is stronger than 'premiere' and that both rule out
'repeat', while 'last-chance' normally implies 'repeat' because it
will be the last in several repeats of the same programme.

The next two attributes are for when a programme is chopped into
several parts - perhaps to sandwich a news bulletin or advertising in
the middle.  So the first part might be nth-part="1" num-parts="2",
and the second would be nth-part="2" num-parts="2".  This is not for
multipart episodes, where the programme's creator really intended the
content to be split into parts.  It is to represent timetables that
cut a whole programme arbitrarily into bits.  Normally the description
and other content of each part will be the same, since the content
describes the 'programme as a whole'.  But this is not enforced,
perhaps the listings source decides to give different information for
different parts (eg 'Conclusion').

The 'xml:lang' attribute in this element provides a convenient way to
set the default language for all free text appearing in the programme
description.  It's not the same as the 'language' subelement or other
means of giving the content of the language itself.  (For example a
Japanese film may have a description wholly in English.)

FIXME need to add 'programme-ref' element and allow it to have
nth-part stuff too.
-->
<!ELEMENT programme (title+, desc*, credits?,
                     year?,
                     category*, language*,
                     icon*, link*, country*,
                     episode-details?,
                     (no-video | video?),
                     (no-audio | audio*),
                     subtitles*, deaf-signed?,
                     classification*, star-rating*)>
<!ATTLIST programme newness   (repeat | premiere | last-chance
                               | new-show) #IMPLIED
                    nth-part  CDATA        #IMPLIED
                    num-parts CDATA        #IMPLIED
                    xml:lang  CDATA        #IMPLIED>

<!-- Programme title, eg 'The Simpsons'. -->
<!ELEMENT title (#PCDATA)>
<!ATTLIST title xml:lang CDATA #IMPLIED>

<!-- Credits for the programme.

People are listed in decreasing order of importance; so for example
the starring actors appear first followed by the smaller parts.  The
credits list is not necessarily exhaustive - typically only the more
important credits will be part of the listings data.  Each person or
company credited can have an 'href' link to a biography, home page or
other information.

When 'adapted-from' is present, the 'writer' credit takes the job of
'writer and adapter' (or 'writer and translator'), while the
'adapted-from' element's content gives the original work's name and
author.
-->
<!ELEMENT credits (director*, role*, writer*,
                   producer*, executive-producer*, 
                   presenter*, commentator*, guest*, narrator*,
                   host*, company*, adapted-from?)>
<!ELEMENT director (#PCDATA)>
<!ATTLIST director xml:lang CDATA #IMPLIED
                   href     CDATA #IMPLIED>
<!ELEMENT writer (#PCDATA)>
<!ATTLIST writer xml:lang CDATA #IMPLIED
                 href     CDATA #IMPLIED>
<!ELEMENT producer (#PCDATA)>
<!ATTLIST producer xml:lang CDATA #IMPLIED
                   href     CDATA #IMPLIED>
<!ELEMENT executive-producer (#PCDATA)>
<!ATTLIST executive-producer xml:lang CDATA #IMPLIED
                             href     CDATA #IMPLIED>
<!ELEMENT presenter (#PCDATA)>
<!ATTLIST presenter xml:lang CDATA #IMPLIED
                    href     CDATA #IMPLIED>
<!ELEMENT commentator (#PCDATA)>
<!ATTLIST commentator xml:lang CDATA #IMPLIED
                      href     CDATA #IMPLIED>
<!ELEMENT guest (#PCDATA)>
<!ATTLIST guest xml:lang CDATA #IMPLIED
                href     CDATA #IMPLIED>
<!ELEMENT narrator (#PCDATA)>
<!ATTLIST narrator xml:lang CDATA #IMPLIED
                   href     CDATA #IMPLIED>
<!ELEMENT host (#PCDATA)>
<!ATTLIST host xml:lang CDATA #IMPLIED
               href     CDATA #IMPLIED>

<!-- company - the production company -->
<!ELEMENT company (#PCDATA)>
<!ATTLIST company xml:lang CDATA #IMPLIED
                  href     CDATA #IMPLIED>

<!-- role - details of a role played by an actor

The name of the character is optional, if all you have is the actor's
name.  The 'guest' attribute is used to distinguish guest stars from
regular cast.
-->
<!ELEMENT role ((character, actor?) | actor)>
<!ELEMENT character (#PCDATA)>
<!ATTLIST character xml:lang CDATA #IMPLIED>
<!ELEMENT actor (#PCDATA)>
<!ATTLIST actor xml:lang  CDATA      #IMPLIED
                href      CDATA      #IMPLIED
                guest     (yes | no) #IMPLIED>

<!-- adapted-from

The 'type' element gives the kind of work this programme was adapted
from, for example 'book'.
-->
<!ELEMENT adapted-from (type?, title, writer?)>
<!ELEMENT type (#PCDATA)>
<!ATTLIST type xml:lang CDATA #IMPLIED>

<!-- There are two kinds of year commonly given for movies: production
date and release date.
-->
<!ELEMENT year EMPTY>
<!ATTLIST year production CDATA #IMPLIED
               release    CDATA #IMPLIED>

<!-- category - subject matter, or type of programme

It's hard to draw an exact line between categories like 'cartoon',
'news bulletin', 'film', which describe the type of programme, and
those like 'horror', 'comedy', 'soap' which describe the subject
matter.  So there is an attribute 'type' you can use but it is
optional.

Further, there are two kinds of category: human-readable names and
fixed codes set by standards bodies.  The first is represented by
element content, the second by the 'system' and 'code' attributes.

But a standards body might define a human-readable synonym for its
codes, for example A412 might have the synonym 'drama'.  To help
readers who don't understand the category codes, you might want to
store the synonym as element content as well as storing the code.
That's why you can create a category with both the 'code' attribute
and element content (which might have an 'xml:lang' attribute too).

Beyond what the grammar specifies, additional constraints on this
element are that if 'system' is given, 'code' must also be given; and
if 'xml:lang' is given, there must be some element content.
-->
<!ELEMENT category (#PCDATA)>
<!ATTLIST category type (genre | programme-type) #IMPLIED
                   system CDATA #IMPLIED
                   code   CDATA #IMPLIED
                   xml:lang   CDATA #IMPLIED>

<!-- Specify a language.  This can be by naming it (and the name of a
language itself is in a particular language, specified with the 'xml:lang'
attribute) or by using a language code such as 'en'.  Or, the language
can be unknown - sometimes it is useful to explicitly state this.

The 'original' attribute says whether this language is the original
one for the programme - as opposed to being a dubbed audio stream or
translated subtitles or whatever.

Now it is possible to specify language in many places.  It can belong
to the programme element itself or to an audio element.  Normally, you
will put language for the programme as a whole, or separate languages
for different audio streams, but not both.
-->
<!ELEMENT language (language-name | language-code | unknown)>
<!ATTLIST language original (yes | no) #IMPLIED>
<!ELEMENT language-name (#PCDATA)>
<!ATTLIST language-name xml:lang CDATA #IMPLIED>
<!ELEMENT language-code EMPTY>
<!ATTLIST language-code code CDATA #REQUIRED>
<!ELEMENT unknown EMPTY>

<!-- FIXME do we need 'length'?  It was intended to be the real length
of the programme after removing advertising.  -->

<!-- A country where the programme was made or one of the countries in
a joint production.  You can give the name of a country, in which case
you might want to specify the language in which this name is written,
or you can give a two-letter uppercase country code, in which case the
lang attribute should not be given.  For example,

<country xml:lang="en">Italy</country>
<country>GB</country>
-->
<!ELEMENT country (#PCDATA)>
<!ATTLIST country xml:lang CDATA #IMPLIED>

<!-- Details of which episode this is.  You can state which season or
series and which episode within a season.  For both of these the 'nth'
attribute counts from 1 and 'of' optionally states how many seasons
there are in total, or how many episodes within this season.  For
example,

<episode-details>
  <season nth="1" />
  <episode nth="2" of="10" />
</episode-details>

But as well as numbering the episode, you can give an episode title,
such as

<episode nth="1">
  <title>Welcome to Royston Vasey</title>
</episode>

This replaces the 'sub-title' element that older XMLTV formats used.
You can also title the whole season, if this should be needed.

The episode-details element can contain an 'official-episode-num'
which is the string the programme's producers use to identify it, eg
'7G04' for Simpsons Episode #7G04.

Conventionally, multi-part episodes are considered as two separate
episodes with '... Part One' and '... Part Two' in the title, for
example 'Who Short Mr Burns' has separate episode numbers 2F16 and
2F20 for the two halves.  Therefore there is no 'episode-part'
element.  If it's a simple case of a long programme being split into
bits, use the 'nth-part' attribute of 'programme'.
-->
<!ELEMENT episode-details (season?, episode?, official-episode-num?)>
<!ELEMENT season (title*)>
<!ATTLIST season nth CDATA #IMPLIED
                 of  CDATA #IMPLIED>
<!ELEMENT episode (title*)>
<!ATTLIST episode nth CDATA #IMPLIED
                  of  CDATA #IMPLIED>
<!ELEMENT official-episode-num (#PCDATA)>

<!-- Details of the video stream.  The element 'black-and-white' is
either present or not.  'aspect' gives the aspect ratio of the screen
(for example 16:9 means x="16" and y="9"), while 'quality' is some
arbitrary string such as 'HDTV'.
-->
<!ELEMENT video (black-and-white?, aspect?, quality?)>
<!ELEMENT black-and-white EMPTY>
<!ELEMENT aspect EMPTY>
<!ATTLIST aspect x CDATA #REQUIRED
                 y CDATA #REQUIRED>
<!ELEMENT quality (#PCDATA)>

<!-- If there is no picture (for example a radio broadcast), this
element makes that explicit.
-->
<!ELEMENT no-video EMPTY>

<!-- Details of an audio stream.  This includes the technical
information about polyphony, but also what language(s) the audio is
in.  So a programme may have multiple audio streams in different
languages.

The 'channel' attribute is an implementation-specific way to identify
the particular audio channel within the broadcast.  In the case of
dual-audio they might be called A and B or left and right.  (If you
know what the standard terminology is, let me know.)

'extra-for-blind' is a Boolean value that says whether this audio
stream is for spoken descriptions of things happening on screen, and
intended for use in addition to the normal audio track.
-->
<!ELEMENT audio (language*)>
<!ATTLIST audio channel         CDATA                             #IMPLIED
                polyphony       (mono | stereo | quad | surround) #IMPLIED
                extra-for-blind (yes | no)                        #IMPLIED>

<!-- Element to explicitly indicate 'no sound'. -->
<!ELEMENT no-audio EMPTY>

<!-- Subtitles.  These can be 'onscreen' (superimposed on the picture
and impossible to get rid of), or they can be the kind that is sent
digitally and optionally displayed by the receiver (closed
captioning).  That in turn can be 'teletext' (digital signal sent
alongside a probably-analogue picture) or 'dvb' (sent as part of a wholly
digital signal).  So your ability to see the subtitles may depend on
whether you are receiving the analogue or digital transmission.  A
particular subtitles stream may be available with one or more of the
above methods.  The 'teletext' element has an optional page number.

(From a purist point of view you could say there should be two
separate channels with separate timeslots and programmes for the
digital and analogue versions, but that seems like overkill just for
this.)

Also a set of subtitles may be in one or more languages (an opera may
have subtitles in Italian for the singing and English for the
introduction).  If subtitles are available in a _choice_ of languages,
there should be multiple 'subtitles' elements.

For example, one set of subtitles, in English and available by DVB and
teletext, would be represented as:

<subtitles>
  <language xml:lang="en">English</language>
  <dvb />
  <teletext page="888" />
</subtitles>
-->
<!ELEMENT subtitles (language*, ((dvb, teletext?, superimposed?)
                                |     (teletext,  superimposed?)
                                |                 superimposed))>
<!ELEMENT dvb EMPTY>
<!ELEMENT teletext EMPTY>
<!ATTLIST teletext page CDATA #IMPLIED>
<!ELEMENT superimposed EMPTY>

<!-- Signed for the deaf.  The meaning of this element is that the
signing is superimposed on the picture.  'language' will probably
indicate some sign language.
-->
<!ELEMENT deaf-signed (language*)>

<!-- Classification such as movie ratings.  This is where a third
party rates the content as suitable for a particular audience.
'system' will normally be the name of the body which awards a
particular classification.  For example:

    <classification system="MPAA">
      <text>PG-13</text>
    </classification>
-->
<!ELEMENT classification (text, icon?)>
<!ATTLIST classification system CDATA #IMPLIED>

<!-- 'Star rating' - many listings guides award a programme a score as
a quick guide to how good it is.  The number of 'stars' should be from
zero to 'out-of', inclusive.

You should try to map whatever wacky system your listings
source uses to a number of stars: so for example if they have thumbs
up, thumbs sideways and thumbs down, you could map that to two, one or
zero stars out of two.

Some listings sources have different kinds of star rating, they may
rate a show separately for 'action', 'humour', 'suspense' and so on.
This can be represented by a 'for' element, an unusual case of the
data being in an attribute and metadata being free text.  If there is
no 'for' then this means just a plain vanilla star-rating, which
should be the common case.
-->
<!ELEMENT star-rating (for?, icon?)>
<!ATTLIST star-rating stars  CDATA #REQUIRED
                      out-of CDATA #REQUIRED>
<!ELEMENT for (#PCDATA)>
<!ATTLIST for xml:lang CDATA #IMPLIED>

<!-- Note: Unknown versus nothing

Most of this file format follows the principle that what is not known
is not stated.  For example a cast list gives actors who featured in a
programme, but if an actor is not in the list that does not mean he
didn't star.  It means it's not known whether he starred or not.

But for timeslots there is an explicit 'unknown' element which can be
used instead of 'programme' to indicate that you don't know what will
be shown on this channel during this time period.  On the other hand,
just omitting a timeslot and so leaving gaps means there is nothing on
or at least nothing of interest.  (Consider a filter program which
selects all programmes which are interesting in some way.  The output
from this filter will have gaps between timeslots when there is
nothing interesting on.)

However it's clear that any listings feed will only know about a
certain time period.  A file giving listings for one week doesn't mean
that there will be nothing on after that week, it just means that no
information is provided about later dates.  So we have the 'from' and
'until' attributes of the 'tv' element to say what time period this
file covers.  Times outside that period are implicitly unknown.  But
within that period, you leave gaps to mean 'nothing is on' and must
use explicit 'unknown' elements where information is missing.

It is permitted for timeslots to stray outside the from/until period;
this is 'bonus information' which might have been collected 'by
accident' while fetching listings, and it is a shame to throw it
away.  Gaps in this bonus information are considered 'unknown'.

If 'from' or 'until' are missing, we assume that the beginning of the
first timeslot or the end of the last timeslot define the edge of the
period for which information is available.  But when generating files
you should try to fill in these two attributes if possible.
-->

<!-- Note: terminology

A 'show' is what many people might call a series, for example 'The
Simpsons'.  If you wanted to find every Simpsons episode during a
week, you would be looking for occurrences of that show.  Typically
every programme belonging to a show has the same title, although it's
just possible for the same show to be listed with different titles
at different times ('The Phil Silvers Show' and just 'Phil Silvers'
are usually the same show).

A 'season' is a bunch of episodes of a show, usually made at about the
same time and aired consecutively.  Some people might call that a
series too, but you can see that the word is ambiguous, so we try to
always use the terms show and season.
-->

<!-- FIXME read through old DTD and check everything is covered.
Particularly thinking of the no-newlines rule.
-->
